@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

    body {
        white-space: nowrap;
        background-color: #f1edc0;

    }
    div {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        white-space: normal;
        
    }

    h1 {
        font-size: 12px;
    }
    h2 {
        font-size: 12px;
        color: #444444;
    }
    #menu {
        min-width: 200px;
        max-width: 400px;
        width: 15%;
        position: fixed;
    }
    #conteudo {
        min-width: 400px;
        width: 30%;
        margin-left: 15%;
        position: fixed;
    }

    #green {
        min-width: 400px;
        width: 50%;
        margin-bottom: 0px;
        background-color: #fffef0;
        margin-left: 50%;
        padding-top: 0%;
    }

    #imagens {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        padding: 3px;
        background-color: #e4dea1;
        text-align: center; 
      }

    nav ul {
        list-style: none;
    }
    nav a{
        color: #000000;
        text-decoration: none;
    }
    nav a:hover {
        color: rgb(84, 126, 87);
    }
    nav li {
        padding: 5px;
    }

    #projetos, #projpedagogicos, #cyber {
        list-style: none;
        padding-left: 0px;
    }

    #projetos a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #projetos a:hover{
        color: rgb(202, 123, 123);
        font-weight: bold;
        text-decoration: none;
    }

    #projpedagogicos a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #projpedagogicos a:hover{
        color: #ca7b7b;
        font-weight: bold;
        text-decoration: none;
    }

    #green a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #green a:hover{
        color: rgb(202, 123, 123);
        font-weight: bold;
        text-decoration: none;
    }

    #cyber {
        font-family: 'Roboto Mono', monospace;

    }

    #cyber a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #cyber a:hover{
        color: #e49b2e;
        font-weight: bold;
        text-decoration: none;
    }

    .galeria {
        max-width: 250px;
        max-height: 250px;
        border: 1px solid #A4CBFF;
        border-radius: 6px;
        -webkit-box-shadow: 4px 4px 3px -2px rgba(199, 176, 113, 0.4); 
        box-shadow: 4px 4px 3px -2px rgba(199, 169, 113, 0.4);
    }
    
    .data {
        color: #858585;
    }

    .banner {
        width:100%;
    }

    .hsbanner {
        border: 0px
    }

    #cabecalho {
        display: inline-block;
        width: 100%;
        padding: 3px;
        text-align: left; 
    }