@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

    body {
        white-space: nowrap;
        background-color: rgb(241, 237, 192);

    }
    div {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        white-space: normal;
        
    }
    h1 {
        font-size: 12px;
    }
    h2 {
        font-size: 12px;
        color: #444444;
    }
    #menu {
        min-width: 200px;
        max-width: 400px;
        width: 20%;
    }
    #conteudo {
        min-width: 400px;
        width: 60%;
    }
    nav ul {
        list-style: none;
    }
    nav a{
        color: #000000;
        text-decoration: none;
    }
    nav a:hover {
        color: rgb(84, 126, 87);
    }
    nav li {
        padding: 5px;
    }

    #projetos, #projpedagogicos {
        list-style: none;
        padding-left: 0px;
    }

    #projetos a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #projetos a:hover{
        color: rgb(202, 123, 123);
        font-weight: bold;
        text-decoration: none;
    }

    #projpedagogicos a, a:visited{
        color: #000000;
        text-decoration: none;
    }

    #projpedagogicos a:hover{
        color: rgb(202, 123, 123);
        font-weight: bold;
        text-decoration: none;
    }

    .galeria {
        max-width: 300px;
        max-height: 300px;
        border: 1px solid #A4CBFF;
        border-radius: 13px;
    }
    